<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRoomController</servlet-name>
        <servlet-class>controllers.SearchRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserController</servlet-name>
        <servlet-class>controllers.RegisterUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingHistoryController</servlet-name>
        <servlet-class>controllers.BookingHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartController</servlet-name>
        <servlet-class>controllers.RemoveFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFromCartController</servlet-name>
        <servlet-class>controllers.UpdateFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controllers.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyBookingController</servlet-name>
        <servlet-class>controllers.VerifyBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookingHistory</servlet-name>
        <servlet-class>controllers.DeleteBookingHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRoomController</servlet-name>
        <url-pattern>/SearchRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserController</servlet-name>
        <url-pattern>/RegisterUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingHistoryController</servlet-name>
        <url-pattern>/BookingHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartController</servlet-name>
        <url-pattern>/RemoveFromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFromCartController</servlet-name>
        <url-pattern>/UpdateFromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyBookingController</servlet-name>
        <url-pattern>/VerifyBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookingHistory</servlet-name>
        <url-pattern>/DeleteBookingHistory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            MainController
        </welcome-file>
    </welcome-file-list>
</web-app>
